.ghosts-page-game {
	width: 100%;
	font-family: Underdog;

	.ghosts-content {
		display: grid;
		grid-template-areas:
			"head content "
			"question content"
			"question button";
		align-items: center;
		justify-items: center;
		gap: 20px;

		width: 100%;

		.ghosts-head {
			grid-area: head;
			max-width: 320px;
			width: 100%;
			height: 190px;
			overflow: hidden;
			border-radius: 20px;

			img {
				max-width: 100%;
				width: 100%;
				object-fit: cover;
			}
		}

		.ghosts-question {
			align-self: flex-start;
			grid-area: question;
			max-width: 300px;
			font-size: 25px;
			text-shadow: rgba(255, 255, 255, 1) 1px 0 10px;
			color: rgba(255, 255, 255, 1);
		}

		.ghosts-cards {
			grid-area: content;
			display: grid;
			grid-template-columns: repeat(2, 300px);
			grid-template-rows: repeat(2, 290px);
			justify-content: center;
			gap: 20px;
			width: 100%;

			.ghosts-card {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;

				transition: all 0.5s ease;
				cursor: pointer;

				.card-image-block {
					position: relative;
					width: 100%;
					height: 260px;

					img {
						width: 100%;
						object-fit: cover;
					}
				}
				.card-img {
					max-width: 100%;
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 20px;
				}

				.card-img-ghost {
					position: absolute;
					max-width: 230px;
					// width: 100%;
					// height: 100%;
					top: 0;
					left: 0;
					z-index: 0;
					opacity: 0;
					transition: all 0.5s ease 0s;

					&.active {
						top: -60px;
						opacity: 1;
					}
				}

				.cloud-block {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					display: flex;
					align-items: center;
					justify-content: center;

					background-image: url("../../assets/images/ghosts-page/cloud.png");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;

					transform: scale(0);
					transition: all 0.5s ease;

					.cloud-text {
						max-width: 220px;
						font-size: 16px;
						color: black;
					}

					&.active {
						transform: scale(1);
					}
				}

				.card-text {
					font-size: 18px;
					text-align: center;
					color: rgba(255, 255, 255, 1);
					text-shadow: rgba(255, 255, 255, 1) 1px 0 5px;
				}

				&:hover {
					transform: scale(1.08);
				}
			}
		}

		.ghost-button-block {
			grid-area: button;
			display: flex;
			align-items: center;
			justify-content: center;

			.ghost-button-next-round {
				padding: 10px 20px;

				border-radius: 50px;

				font-family: "Underdog";
				font-weight: 400;
				font-size: 24px;

				color: rgba(255, 255, 255, 1);
				text-shadow: rgb(255, 255, 255) 1px 0 10px;
				background: transparent;

				box-shadow: 0 0 3px 3px rgb(255, 255, 255);
				cursor: pointer;
			}
		}
	}
}
