.bay-page-round4 {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: start;
	justify-content: center;

	font-family: Pangolin;

	color: rgba(255, 255, 255, 1);

	.bay-round4-content {
		padding: 20px 0px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.bay-round4-title {
			flex: 1 1 auto;
		}

		.bay-round4-link {
			max-width: 250px;
			width: 100%;
			text-decoration: none;

			.bay-round4-button {
				display: flex;
				justify-content: center;
				padding: 10px 20px;

				border-radius: 50px;
				font-size: 40px;

				color: rgba(255, 255, 255, 1);
				text-shadow: rgb(255, 255, 255) 1px 0 10px;
				background-color: rgba(87, 71, 231, 1);

				box-shadow: 0 0 3px 3px rgb(255, 255, 255);
			}
		}
	}
}
