.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 0px 20px 10px;

	display: flex;
	justify-content: end;
	gap: 20px;

	.map-icon {
		max-width: 60px;
    
	}

	.next-page-icon {
		max-width: 80px;
		width: 100%;
	}
}
