.tavern-page-game {
	font-family: Underdog;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	overflow: hidden;

	.tavern-content {
		position: relative;
		bottom: -150px;
		max-width: 1200px;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		background-image: url("../../assets/images/tavern-page/table.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;

		.tavern-dishes {
			position: relative;
			width: 100%;
			height: 100%;

			.nalisniki-container {
				position: absolute;
				width: 200px;
				height: 100px;
				top: 150px;
				left: 100px;
				z-index: 3;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.nalisniki-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 100%;
							top: -70px;
							left: 0;
						}

						.food-cap-number {
							position: relative;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(-350px, -900%) rotate(-90deg);
						}
					}
				}
			}

			.shkvarki-container {
				position: absolute;
				width: 200px;
				height: 100px;
				top: 370px;
				left: 600px;
				z-index: 5;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.shkvarki-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 105%;
							top: -70px;
							left: -10px;
						}
						.food-cap-number {
							position: relative;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(350px, -900%) rotate(90deg);
						}
					}
				}
			}

			.holodnik-container {
				position: absolute;
				width: 170px;
				height: 110px;
				top: 285px;
				left: 850px;
				z-index: 5;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.holodnik-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}
					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 110%;
							top: -60px;
							left: -10px;
						}

						.food-cap-number {
							position: relative;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(350px, -900%) rotate(90deg);
						}
					}
				}
			}

			.kolduny-container {
				position: absolute;
				width: 150px;
				height: 100px;
				top: 50px;
				left: 730px;
				z-index: 2;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.kolduny-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 110%;
							top: -40px;
							left: -10px;
						}

						.food-cap-number {
							position: relative;
							top: 10px;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(350px, -900%) rotate(90deg);
						}
					}
				}
			}

			.babka-container {
				position: absolute;
				width: 200px;
				height: 150px;
				top: 110px;
				left: 900px;
				z-index: 3;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.babka-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 110%;
							top: -30px;
							left: -10px;
						}

						.food-cap-number {
							position: relative;
							top: 50px;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(350px, -900%) rotate(90deg);
						}
					}
				}
			}

			.chepeliny-container {
				position: absolute;
				width: 200px;
				height: 120px;
				top: 290px;
				left: 150px;
				z-index: 4;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.chepeliny-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 110%;
							top: -50px;
							left: -10px;
						}

						.food-cap-number {
							position: relative;
							top: 30px;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(-350px, -900%) rotate(-90deg);
						}
					}
				}
			}

			.machanka-container {
				position: absolute;
				width: 200px;
				height: 100px;
				top: 365px;
				left: 355px;
				z-index: 5;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.machanka-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 105%;
							top: -70px;
							left: -5px;
						}

						.food-cap-number {
							position: relative;
							top: 10px;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(-350px, -900%) rotate(-90deg);
						}
					}
				}
			}

			.kulaga-container {
				position: absolute;
				width: 250px;
				height: 130px;
				top: 175px;
				left: 550px;
				z-index: 4;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.kulaga-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 110%;
							top: -80px;
							left: -10px;
						}

						.food-cap-number {
							position: relative;
							top: 30px;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(350px, -900%) rotate(90deg);
						}
					}
				}
			}

			.sbiten-container {
				position: absolute;
				width: 100px;
				height: 120px;
				top: 160px;
				left: 350px;
				z-index: 2;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.sbiten-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 180%;
							top: -30px;
							left: -40px;
						}

						.food-cap-number {
							position: relative;
							top: 30px;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(-350px, -900%) rotate(-90deg);
						}
					}
				}
			}

			.starka-container {
				position: absolute;
				width: 70px;
				height: 150px;
				top: -30px;
				left: 560px;
				z-index: 1;
				cursor: pointer;

				.tavern-dish-content {
					position: relative;
					width: 100%;
					height: 100%;

					.starka-dish {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
					}

					.food-cap-container {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: pointer;
						opacity: 1;
						transition: all 1s ease 0s;

						.food-cap {
							position: absolute;
							width: 300%;
							top: -30px;
							left: -70px;
						}

						.food-cap-number {
							position: relative;
							top: 50px;
							width: 55px;
							height: 55px;
							font-size: 40px;
							border-radius: 50%;
							border: 2px solid rgba(0, 0, 0, 1);
							background-color: rgba(255, 255, 255, 1);
							text-align: center;
						}

						&.active {
							opacity: 0;
							transform: translate(350px, -900%) rotate(90deg);
						}
					}
				}
			}
		}
	}

	.tavern-button-block {
		position: relative;
		padding-right: 20px;
		display: flex;
		justify-content: end;

		.tavern-button-next {
			cursor: pointer;
			max-width: 80px;

			img {
				max-width: 80px;
				width: 100%;
			}
		}
	}
}
