*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  overflow-y: scroll;
  scrollbar-width: none;
}

#root,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
}
