.potions-page-layout {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;

	background-image: url("../../assets/images/backgrounds/potions-background.webp");
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;

	font-size: 50px;
	font-weight: 700;
}
